img#logo-b.css-o69gx8-MuiCardMedia-root {
  display: block;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  background-position: center;
  width: 100%;
  height: 50%;
  object-fit: contain;
}
span#arrowBack {
  margin-left: 45px;
}

#centeringSideB {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

form#formCreate {
  width: 800px;
}
.calculadora {
  border: 4px solid grey;
  border-radius: 8px;
}

.form-calculo {
  font-weight: 900;
  align-items: center;
  font-size: 24px;

  border-radius: 8px;
  margin: 15px;
}

.container-left {
  width: 50%;
  padding: 60px;
}
.container-right {
  width: 50%;
  padding: 260px;
}

.containerB {
  display: flex;
  /* flex-direction: row; */
  top: 40px;
  /* flex-wrap: nowrap; */
  position: relative;
  /* align-content: center; */
  justify-content: space-around;
}

.container-subtotal-form {
  display: flex;
  margin-top: 70px;
}

.color-content {
  display: flex;
  flex-wrap: wrap;
}
