.css-i9gxme {
  padding: 3rem;
}
.css-mhc70k-MuiGrid-root {
  box-sizing: border-box !important;
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
}
.cart-item {
  border: 1px solid #ddd;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: absolute;
  z-index: 9;
}
.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  background-color: #363636 !important;
}
.css-jh47zj-MuiButtonBase-root-MuiButton-root:hover {
  background-color: black !important;
}

.cart-item .item-link {
  text-decoration: none;
  color: #333;
}

.cart-item .item-image {
  max-width: 100%;
  height: auto;
}

.cart-item .item-details {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-button {
  margin-top: 20px;
  text-align: center;
}

.buy-button .user-exist-block {
  margin-top: 10px;
}

.link-normal {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  #contenedor-backr-refresh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -25px;
    position: absolute;
    margin-right: 8px;
  }
}
