#contenedor-backr-refresh {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}
canvas {
  display: flex !important;
  width: 180px !important;
  height: 180px !important;
  top: -60px;
  left: -60px;
  border-radius: 50% !important;
  position: absolute;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 4em;
  height: 2em;
}
#back-button {
  z-index: 1;
}
#back-button:hover {
  color: #000000;
}

.fab {
  z-index: -1;
  position: fixed;
  right: 90px;
  bottom: 100px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.541);
}
.fabB {
  position: fixed;
  right: 30px;
  bottom: 38px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.541);
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.fabLink {
  display: flex;
  opacity: 1;
  position: absolute;

  align-items: center;
  justify-content: center;
}

.fabbutton {
  position: relative;
  z-index: 1;
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #000000;
  justify-content: center;
  align-items: center;
}

.menu > button {
  position: absolute;
  color: #2b252a;
  transition: 0.3s;
}

.menu > button:hover {
  scale: 1.5;
  background-color: #0000000e;
  border-radius: 50px;
}

.material-symbols-outlined {
  font-size: 12px;
}

.menu > button:nth-child(1) {
  left: -60px;
  top: 102px;
  rotate: 270deg;
}

.menu > button:nth-child(2) {
  left: -120px;
  top: 40px;
  rotate: 270deg;
}

.menu > button:nth-child(3) {
  left: -96px;
  top: 88px;
  rotate: 270deg;
}
.menu > button:nth-child(4) {
  left: -7px;
  top: 99px;
  rotate: 270deg;
}
