/* TuArchivoDeEstilos.css */

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  background: linear-gradient(to bottom, #3498db, #1abc9c);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.titulo {
  font-size: 36px;
  color: white;
}

.enlace {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 18px;
}
.enlaceB {
  text-decoration: none;
  color: black;
  margin: 10px;
  font-size: 18px;
  position: relative;
  top: -20px;
  background: darkgray;
  right: -176px;
  padding: 4px;
  border-radius: 6px;
}

.parrafo {
  color: gray;
  font-size: 24px;
  margin: 10px;
}
