.img{
    
    width: 45px;
    height:45px;
    justify-content: left;
    align-items: left;

}

img{
    margin-top: 0px;
    margin-left: 0px;
    width: 60px;
    height:60px;
    display: flexbox;
    justify-content: left;
    align-items: left;

}
.body{
    background-color: rgb(83, 63, 31);
}
.css-1edhhsm-MuiPaper-root-MuiAppBar-root{
    z-index: 0;
}